﻿<!DOCTYPE html>
<html>
<head>
    <title>Aluminum Company Contact Form Submission</title>
</head>
<body>
    <div>
        <p>Thank you for contacting the Aluminum Company. A Sales representative will contact you within 1-2 business days.</p>
        <p>If you need immediate assistance, please call us at 919-620-8500 or toll free at 800-672-4348.</p>
        <p>In the meantime, we encourage you to watch a video describing why we won the Prestigious Best of the Best Television Award</p>
        <p>http://www.youtube.com/embed/EBF8ALDGjgo?rel=0&autoplay=1</p>
    </div>
</body>
</html>
