﻿@model AlumcoRestApi.ResourceModels.LeadResourceModel

<!DOCTYPE html>
<html>
<head>
    <title>Aluminum Company Contact Form Submission</title>
</head>
<body>
    <div>
        <p>Submitted on @DateTime.Now.ToString("ddd, MM/dd/yyyy - HH:mm")</p>
        <br />
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>Email: @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>City: @Model.City</p>
        <p>State: @Model.State</p>
        <p>Zip Code: @Model.ZipCode</p>

        @if (Model.LeadPhoneNumbers.Any())
        {
            <p>Phone: @Model.LeadPhoneNumbers.First().PhoneNumber </p>
        }

        @if (Model.LeadServices.Any())
        {
            <p>
                Service(s): @String.Join(",", Model.LeadServices.Select(ls => ls.ServiceName).ToList())
            </p>
        }

        @*<p>Are you an existing customer? @Model.LeadSourceName</p>*@
        <p>How did you hear about us? @Model.LeadSourceName</p>

        <p>Referral Name: @Model.ReferralName</p>
        <p>Comments: @Model.Description</p>
    </div>
</body>
</html>
